.payment-container {
  height: 60vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#payment-interface {
  width: 35vw;
  background-color: #409d9b;
}

#payment-interface > div {
  display: flex;
  justify-content: center;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 20vh;
}

.messages > * {
  color: black;
}
