.payment-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7vh;
}

#payment-interface {
  background-color: #409d9b;
  width: fit-content;
}

#payment-interface > .ui.grid {
  width: 400px;
}

.ui.input > * {
  margin-right: 5px !important;
}

#payment-interface > .button-div {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 20vh;
}

.messages > * {
  color: black;
}

p {
  font-size: smaller;
}

.error-message{
  color: crimson; 
  text-align: center;
  margin-top: 20px;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}