@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@450&family=Quattrocento:wght@700&display=swap");



span {
  font-family: "Cinzel Decorative", cursive;
  color: white;
}

h1 {
  font-family: "Quattrocento", serif;
  color: white;
  font-size: 40px;
}

h2,
h4,
h5,
h6 {
  font-family: "Quattrocento", serif;
  color: white;
}

h3 {
  font-family: "Quattrocento", serif;
  color: black;
}

p {
  font-family: "EB Garamond", serif;
  color: white;
}

a {
  color: white;
  font-family: "Quattrocento", serif;
}

#login {
  font-family: "Quattrocento", serif;
  font-weight: bold;
  margin-right: 30px;
}

#navbar {
  font-family: "Quattrocento", serif;
  font-size: 2vw;
}

#header {
  padding: 20px;
  background-color: #409d9b;
}
