@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@450&family=Quattrocento:wght@700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quattrocento", serif;
}
p {
  font-family: "EB Garamond", serif;
}
