.login-container {
  height: 80vh;
}

#login-form,
#signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #409d9b;
  min-height: 35vh;
  width: 40vw;
  border-radius: 10px;
}

#login-form > * {
  margin: 1px;
}
